body {
  background-image: url("/partials/single_instruments/images/sitebackground.png");

}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.logincontainer {
  /*background-color: red;*/
}

#header {
  padding: 15px;
  border-bottom: 2px;
  border-color: black;

}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}
.leftcolumn {
 padding: 10px 10px;
  /*background-color: red;*/
}

.middlecolumn {
 padding: 10px 10px;
  /*background-color: red;*/
}

.rightcolumn {
 padding: 10px 10px;
 text-align: center;
  /*background-color: red;*/
}

ul {
  text-align-last: center;
}

.muiscnotes {
  display: inline;
  float:right;
}

.cabin-font{
  font-family: 'Cabin Condensed', sans-serif;
}

.didact-font{
  font-family: 'Didact Gothic', sans-serif;
}

.getstarted{
  background-color: rgba(51,102,153,.3);
}

.leftlowercolumn {
  background-color: rgba(102,153,204,.3);
}

.rightlowercolumn {
  background-color: rgba(140,179,217,.3);
}

.instrumentlist{
  background-color: rgba(140,179,217,.3);
}
