<p class="didact-font"> Blues developed from roots in African musical traditions, African-American work songs, spirituals, and European folk music. Blues incorporated spirituals, work songs, field hollers, shouts, chants, and rhymed simple narrative ballads.</p>

  <ul>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(1)">Piano</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(6)">harmonica</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(3)">drums</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(2)">Guitar</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.showInstruments()">Show All Instruments in Database</button>
  </ul>
