<p> Blues developed from roots in African musical traditions, African-American work songs, spirituals, and European folk music. Blues incorporated spirituals, work songs, field hollers, shouts, chants, and rhymed simple narrative ballads.</p>

  <ul>
    <button ng-click="ctrl.piano()">Piano</button>
    <button ng-click="ctrl.harmonica()">harmonica</button>
    <button ng-click="ctrl.drums()">drums</button>
    <button ng-click="ctrl.guitar()">Guitar</button>
    <button ng-click="ctrl.harp()">Blues Harp</button>
  </ul>
