<p> Brass is commonly used in traditional orchestras and concert band ensmebles. The common ones are below click on one to get more info on it plus resources to learn more:</p>

  <ul>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(7)">Trumpet</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(8)">Trombone</buttom>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(9)">French Horn</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(10)">Tuba</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(5)">Saxophone</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.showInstruments()">Show All Instruments in Database</button>
  </ul>
