<p> like its name refers, the oldest and most traditional music type is clsssical. Ancient ot Medeival to Baroque to Classical to Romantic to Modern, characteristics that this music contain the use of a printed score, the performance of very complex instrumental works, and the use of a symphony. there are four primarily groups within a classical symphony</p>

<ul>
  <button ng-click="ctrl.brass()">Brass</button>
  <button ng-click="ctrl.woodwinds()">Woodwinds</button>
  <button ng-click="ctrl.strings()">Strings</button>
  <button ng-click="ctrl.percussion()">Percussion</button>
</ul>
