<div class="col-xs-6">
  <h4>Which category of instruments do you want to choose from?</h4>

<ul>
  <button class="btn btn-info" ng-click="ctrl.listWoodwinds()">Woodwinds</button>
  <button class="btn btn-info" ng-click="ctrl.listStrings()">Strings</button>
  <button class="btn btn-info" ng-click="ctrl.listPercussion()">percussion</button>
  <button class="btn btn-info" ng-click="ctrl.listBrass()">brass</button>
  <button class="btn btn-info" ng-click="ctrl.listOther()">Other</button>
</ul>
</div>
