<p>Percussion is EVERYWHERE. Rock, Jazz, Orchestra, Reggae, you name it.:</p>

  <ul>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(3)">Drums</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(18)">Timpani</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(19)">Steel Drums</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(20)">xylophone</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.showInstruments()">Show All Instruments in Database</button>
  </ul>
