<p class="didact-font"> Rock music originated as "rock and roll" in the United States in the early 1950s, and developed into a range of different styles in the 1960s and later, particularly in the United Kingdom and the United States. Rock is song-based music usually with a 4/4 time signature using a verse–chorus form, but the genre has become extremely diverse. Like pop music, lyrics often stress romantic love but also address a wide variety of other themes that are frequently social or political.</p>

  <ul>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(1)">Piano</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(3)">drums</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(2)">Guitar</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.showInstruments()">Show All Instruments in Database</button>
  </ul>
