<p class="didact-font"> Strings are commonly used in traditional orchestras, New age, and smaller initmate performacne. Often considered the most versatile and emotional of the instrument famlies. common ones for traditional orchestra are:</p>

  <ul>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(15)">Violin</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(16)">Viola</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(17)">Cello</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(4)">Double Bass</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.showInstruments()">Show All Instruments in Database</button>
  </ul>
