<p class="didact-font"> Woodwinds are commonly used in traditional orchestras and concert band ensmebles. The common ones are below click on one to get more info on it plus resources to learn more:</p>

  <ul>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(11)">Flute</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(13)">Oboe</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(12)">Clarinet</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.getInstrument(14)">Bassoon</button>
    <button class="btn btn-outline-primary" ng-click="ctrl.showInstruments()">Show All Instruments in Database</button>
  </ul>
